<ion-header>
  <ion-toolbar>
    <ion-title>Add New Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-icon name="camera"></ion-icon>
    <ion-button color="primary" type="submit" value="Submit">Take Photo</ion-button>
  </ion-card>
  <ion-card>
    <ion-label text-center>Name:</ion-label>
    <ion-input type="text" placeholder="John Doe"></ion-input>
    <ion-label text-center>Email:</ion-label>
    <ion-input type="email" placeholder="jdoe@test.com"></ion-input>
    <ion-button color="primary" type="submit" value="Submit">Save Info</ion-button>
  </ion-card>
</ion-content>
