<ion-header>
  <ion-toolbar>
    <ion-title>
      eWS Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
      <ion-card-title align="center">Inventory</ion-card-title>
    </ion-card-header>
    <ion-card class="card">
        <img class="card__img" src="../../assets/img/carpet1.jpg" alt="">
        <div class="card__title-wrapper">
            <span class="card__title-wrapper__text">Carpet</span>
        </div>
    </ion-card>
    <ion-card class="card">
        <img class="card__img" src="../../assets/img/hardsurface1.jpg" alt="">
        <div class="card__title-wrapper">
            <span class="card__title-wrapper__text">Hard Surface</span>
        </div>
    </ion-card>
</ion-content>
